@import './variables.scss';

.container {
  display: grid;
  grid-template-rows: 35px auto 30px;
  grid-template-areas:
    'header'
    'content'
    'footer';
  min-height: 100vh;
}

.header {
  grid-area: header;
  background-color: $primary-color;
}

.content {
  grid-area: content;
  background-color: $secondary-text;
}

.footer {
  grid-area: footer;
  background-color: $dark-primary-color;
}
