@import './variables.scss';

.footer {
  display: grid;
  background-color: $divider-color;
  grid-template-columns: 20% 60% 20%;

  @media only screen and (max-width: 880px) {
    grid-template-columns: 5% 90% 5%;
  }

  @media only screen and (min-width: 1500px) {
    grid-template-columns: 30% 40% 30%;
  }

  .text {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: start;
    align-self: center;
  }
}
