@import './variables.scss';

.header {
  display: grid;
  background-color: $primary-color;
  grid-template-areas: 'left right';
  padding: 0px 8px;

  .left {
    grid-area: left;
    align-self: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;

    a {
      color: $text-icons;
      text-decoration: none;
    }
  }

  .right {
    grid-area: right;
    align-self: center;
    justify-self: end;
  }
}
