@import './variables.scss';

.template {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100px auto auto;
  grid-template-areas:
    '. title .'
    '. message .'
    '. form .';
  grid-row-gap: 25px;

  @media only screen and (max-width: 880px) {
    grid-template-columns: 5% 90% 5%;
  }

  .title {
    grid-area: title;
    margin: 1em 0em 0em;
    background-color: yellow;
  }

  .message {
    grid-area: message;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.5em;
    padding: 0.5em;
    border: 2px solid $divider-color;
    background-color: transparent;
    align-self: start;
  }

  .form {
    grid-area: form;
    display: grid;
    font-size: 1.15em;
    background-color: green;
    grid-template-columns: 120px auto;
    grid-row-gap: 15px;
    align-self: start;

    select.form-control,
    .form-control {
      border-radius: 5px;
      border: 1px solid $divider-color;
      font-size: 1.15em;
      width: -webkit-fill-available;
      height: 25px;
    }

    select.form-control {
      height: inherit;
    }
  }
}
